taxi+_zone_lookup.csv
yellow_tripdata_2021-01.csv.gz
ny_taxi_postgres_data/
output.csv.gz
google-cloud-cli-415.0.0-linux-x86_64.tar.gz
dtc-de-376010-22758dd1fa24.json
w1_commands.txt
google-cloud-sdk/